html {
  background-color: #010406;
  font-family: 'Bender';
  color: #9A9E8F;
  overflow-x: hidden;
}

.alpha {
  text-align: end;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}