/* @import 'reset.css'; */

html {
  background-color: rgb(1, 4, 6);
  font-family: 'Bender';
  color: #9A9E8F;
}

body {
  overflow-x: hidden;
  margin:  1rem 1rem;
}

a {
  color: #9A9E8F;
}

.version {
  text-align: end;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}


@media screen and (max-width: 700px) {
  body {
    margin: 0.5rem 0.5rem;
  }
}

#bmc-wbtn {
  width: 40px!important;
  height: 40px!important;
  right: 19px!important;
  bottom: 15px!important;
  background: #0c2a38!important;
}

#bmc-wbtn img {
  width: 30px!important;
  height: 30px!important;
}