/* @import 'reset.css'; */

html {
  background-color: rgb(1, 4, 6);
  font-family: 'Bender';
  color: #9A9E8F;
}

body {
  overflow-x: hidden;
  margin:  1rem 1rem;
}

a {
  color: #9A9E8F;
}

.version {
  text-align: end;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

@media screen and (max-width: 700px) {
  body {
    margin: 0.5rem 0.5rem;
  }
}

.leaflet-container {
  width: 512px;
  height: 512px;
}